@{
    ViewData["Title"] = "A Propos de nous";
}

<section class="py-5" style="margin-top: 100px;">
    <div class="text-center">
        <h1 class="fw-folder" style=" color:darkblue">
            @ViewData["Title"]
        </h1>
    </div>
</section>
<hr />

<div class="container mt-5 mb-5" style="margin-top: 100px;">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <p class="mb-4"><strong>Bienvenue chez Cosmechic, votre destination incontournable pour des cosmétiques de qualité et des produits de soin de la peau.</strong></p>
            <h4 class="fw-bolder">Notre Histoire</h4>
            <p class="mb-4">Née d'une passion pour la beauté et le bien-être, <strong>Cosmechic</strong> a été fondé en 2023 par Rissinatou Kabore, une passion de cosmetique avec une vision claire: offrir une gamme de produits cosmetiques haut de gamme et accessibles a tous.</p>
            <h4 class="fw-bolder">Notre Mission</h4>
            <p class="mb-4">Chez <strong>Cosmechic</strong>,  nous croyons que tout le monde mérite de se sentir beau et confiant. Notre mission est de vous fournir des produits de beauté de la plus haute qualité, conçus pour illuminer et revitaliser votre peau. Nous nous engageons à utiliser des ingrédients sûrs, efficaces et éthiquement sourcés.</p>
            <h4 class="fw-bolder">Nos Produits</h4>
            <p class="mb-4">Nous offrons une large gamme de produits, y compris des crèmes pour le visage, des lotions corporelles, des sérums, des maquillages, et bien plus encore. Tous nos produits sont choisis pour leur efficacité, leur qualité et leur respect de l'environnement. De plus, nous sommes fiers de proposer des options adaptées à tous les types de peau.</p>
            <h4 class="fw-bolder">Rejoignez notre communaute</h4>
            <p class="mb-4">Suivez-nous sur [insérer les réseaux sociaux] pour des conseils beauté, des tutoriels, des offres exclusives et des mises à jour sur nos derniers produits. Nous sommes plus qu'une boutique - nous sommes une communauté de passionnés de beauté qui partagent et apprennent ensemble.</p>
            <h4 class="fw-bolder">Contactez-nous</h4>
            <p class="mb-4">Pour toute question ou suggestion, n'hésitez pas à nous contacter à <a style="color: #87CEEB" href="mailto:Cosmechic@Cosmechic.ca" class="email-link">Cosmechic@Cosmechic.ca</a>. Votre avis compte beaucoup pour nous et nous sommes toujours là pour vous aider.</p>
            <p><strong>Merci de choisir CosmeChic pour votre beauté et votre bien-être !</strong></p>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid rounded mb-5 mb-lg-0" style="width:700px; height:800px" src="~/Images log_register_forgot/Apropos.jpg" alt="À propos de Cosmechic" />
        </div>
    </div>
</div>

<section class="py-5 bg-light">
    <div class="container mt-5 mb-5" style="margin-top: 100px;">
        <div class="text-center">
            <h2 class="fw-bolder" style="color: #000080">Notre équipe</h2>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-5 px-5" src="~/images/WhatsApp Image 2024-02-21 à 10.30.36_77139ab6.jpg" alt="..." />
                    <h5 class="fw-bolder">Rissinatou Kabore</h5>
                    <div class="fst-italic text-muted">Founder &amp; CEO</div>
                </div>
            </div>
        </div>
    </div>
</section>
