@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Mail de confirmation";
}

<section class="py-5" style="margin-top: 100px;">
    <div class="text-center">
        <h1 class="fw-folder" style=" color:darkblue">
            @ViewData["Title"]
        </h1>
    </div>
</section>

<partial name="_StatusMessage" model="Model.StatusMessage" />
