@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmation de la réinitialisation du mot de passe";
}

<section class="py-5" style="margin-top: 100px;">
    <div class="text-center">
        <h1 class="fw-folder" style=" color:darkblue">
            @ViewData["Title"]
        </h1>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>Votre mot de passe a été réinitialisé. S'il vous plaît <a asp-page="./Login">cliquez ici pour vous connecter</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

