<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - Cosmechic</title>
    <link rel="icon" type="image/x-icon" href="~/assets/favicon.ico" />
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/sb-admin-2-custom.css" rel="stylesheet">  
</head>
<style>
        .button {
            color: #FFFFFF; 
            border: none;
            
            font-size: 14px;
        }

        .button-deconnexion {
        background-color: royalblue;
    }
</style>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3">
                    <img src="~/assets/img/Logo.png" alt="Cosmechic Logo" style="height: 70px;">
                </div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" asp-controller="AspnetUsers" asp-action="Dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tableau de bord</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Interface
            </div>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Categories" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Catégories</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="OrderHeaders" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Commandes</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="AspnetUsers" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Clientèles</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Avis" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Avis</span>
                </a>
            </li>
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Modules supplémentaires
            </div>

            <li class="nav-item">
                <a class="nav-link" asp-controller="AspnetUsers" asp-action="Diagrammes">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Diagrammes</span>
                </a>
            </li>
            
            <li class="nav-item">
                <form class="button button-deconnexion" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="button button-deconnexion">
                        <i class="icon fas fa-fw fa-chart-area"></i>
                        Déconnexion
                    </button>
                </form>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                 aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                               placeholder="Search for..." aria-label="Search"
                                               aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                                <img class="img-profile rounded-circle"
                                     src="~/img_admin/undraw_profile.svg">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" asp-controller="AspNetUsers" asp-action="Index">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profil
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Déconnexion
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!-- Masthead-->
                <main role="main" class="pb-3" style="position:relative;padding-bottom:100px;">
                    <div>
                        @RenderBody()
                    </div>
                </main>

                <!-- Footer -->
                <style>
                    body {
                        margin-bottom: 100px;
                    }

                    footer {
                        position: fixed;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        background-color: #3c3c3c;
                        text-align: center;
                        height: 130px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                </style>
                <footer class="container-fluid bg-dark text-white py-4">
                    <div class="row border-top border-light mx-xl-5 py-4">
                        <div class="d-flex justify-content-center">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a class="text-info" asp-controller="Home" asp-action="About">Qui sommes-nous?</a> |
                                </li>
                                <li class="nav-item">
                                    <a class="text-info" asp-controller="Home" asp-action="Privacy">Politique de confidentialité</a> |
                                </li>
                                <li class="nav-item">
                                    <a class="text-info" asp-controller="Home" asp-action="Terms">Termes et conditions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 px-xl-0 text-center text-md-right">
                            <div class="text-center mt-3">
                                <img class="img-fluid" src="~/assets/img/payments.png" alt="Moyens de paiement">
                            </div>
                        </div>
                        <div class="col-md-6 px-xl-0 text-center text-md-left">
                            <div class="text-cenetr mt-3">
                                <p>&copy; Année 2023 - 2024 Cosmechic. Tous droits réservés.</p>
                            </div>
                        </div>
                    </div>
                </footer>

                <!-- Scroll to Top Button-->
                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <!-- Logout Modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Sélectionnez "Déconnexion" ci-dessous si vous êtes prêt à mettre fin à votre session en cours.</div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                                <a class="btn btn-primary" href="login.html">Déconnexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

