@model Cosmechic.Models.OrderHeader

@{
    ViewData["Title"] = "Create";
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    }
}

<section class="py-5" style="margin-top: 100px;">
    <div class="text-center">
        <h1 class="fw-folder" style=" color:darkblue">
            @ViewData["Title"]
        </h1>
    </div>
</section>
<hr />

<div class="container mt-5 mb-5" style="margin-top: 100px;">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingDate" class="control-label"></label>
                <input asp-for="ShippingDate" class="form-control" />
                <span asp-validation-for="ShippingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotal" class="control-label"></label>
                <input asp-for="OrderTotal" class="form-control" />
                <span asp-validation-for="OrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <input asp-for="OrderStatus" class="form-control" />
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label"></label>
                <input asp-for="PaymentStatus" class="form-control" />
                <span asp-validation-for="PaymentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrackingNumber" class="control-label"></label>
                <input asp-for="TrackingNumber" class="form-control" />
                <span asp-validation-for="TrackingNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier" class="control-label"></label>
                <input asp-for="Carrier" class="form-control" />
                <span asp-validation-for="Carrier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDueDate" class="control-label"></label>
                <input asp-for="PaymentDueDate" class="form-control" />
                <span asp-validation-for="PaymentDueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <input asp-for="SessionId" class="form-control" />
                <span asp-validation-for="SessionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentIntentId" class="control-label"></label>
                <input asp-for="PaymentIntentId" class="form-control" />
                <span asp-validation-for="PaymentIntentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StreetAddress" class="control-label"></label>
                <input asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostalCode" class="control-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

