@page
@model ErrorModel
@{
    ViewData["Title"] = "Erreur";
}

<section class="container-fluid py-5" style="margin-top: 100px;">
    <div class="text-center">
        <h1 class="text-center mb-5 container-fluid text-danger">
            @ViewData["Title"]
        </h1>
        <h2 class="text-danger">Une erreur s'est produite lors du traitement de votre demande</h2>
    </div>
</section>


@if (Model.ShowRequestId)
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p><strong>Demande ID:</strong> <code>@Model.RequestId</code></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p>
                            <strong>Demande ID:</strong> <code>@Model.RequestId</code>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

<h3>Mode de développement</h3>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>
                        Le passage à l'environnement  <strong>Développement</strong> permet d'afficher des informations plus détaillées sur l'erreur qui s'est produite.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>
                        <strong>L'environnement de développement ne doit pas être activé dans les applications déployées</strong>, car il peut en résulter l'affichage d'informations sensibles sur les exceptions pour les utilisateurs finaux. Pour le débogage local, l'environnement de développement peut être activé en définissant l'option <strong>ASPNETCORE_ENVIRONMENT</strong> à <strong>Developpement</strong>, et redémarrer l'application.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

