@{
    ViewData["Title"] = "Politique de confidentialité";
}
<section class="py-5" style="margin-top: 100px;">
    <div class="text-center">
        <h1 class="fw-folder" style=" color:darkblue">
            @ViewData["Title"]
        </h1>
    </div>
</section>
<hr />

<div class="container mt-5 mb-5" style="margin-top: 100px;">
    <div class="row align-items-center">
        <div>
            <strong>Introduction</strong>
            <p>Bienvenue chez <strong>CosmeChic.</strong>, où nous accordons une importance capitale à votre vie privée et à la sécurité de vos données personnelles. Notre politique de confidentialité vise à expliquer en détail comment nous recueillons, utilisons, protégeons et partageons vos informations personnelles.</p>
        </div>

        <div>
            <strong>Collecte de Données</strong>
            <p>Lorsque vous utilisez notre site, diverses informations vous concernant sont collectées. Cela se produit notamment lors de vos achats sur notre plateforme, de votre inscription en tant que membre et lorsque vous entrez en contact avec notre service.</p>
        </div>

        <div>
            <strong>Utilisation des Données</strong>
            <p>
                Les informations que nous recueillons sont essentiellement utilisées pour gérer efficacement votre compte utilisateur, traiter vos commandes en toute fluidité, établir une communication avec vous et améliorer constamment votre expérience client.
                En outre, conformément aux lois en vigueur, nous mettons à profit vos données pour des analyses internes et pour mener des actions marketing.
            </p>
        </div>

        <div>
            <strong>Partage des Données</strong>
            <p>Nous tenons à vous assurer que nous ne vendons ni ne partageons vos données personnelles avec des tiers sans avoir préalablement obtenu votre consentement. La seule exception à cette règle serait si une exigence légale nous y obligeait.</p>
        </div>

        <div>
            <strong>Sécurité des Données</strong>
            <p>La sécurité de vos informations est primordiale pour nous. C'est pourquoi nous mettons en place toutes les mesures nécessaires pour prévenir tout accès non autorisé, toute modification, divulgation ou destruction de vos données personnelles.</p>
        </div>

        <div>
            <strong>Vos Droits</strong>
            <p>En tant qu'individu concerné, vous avez le droit d'accéder à vos données, de les modifier et même de les supprimer. N'hésitez pas à nous contacter si vous souhaitez exercer l'un de ces droits.</p>
        </div>

        <div>
            <strong>Modifications de la Politique</strong>
            <p>Notre politique de confidentialité peut être mise à jour périodiquement pour refléter les évolutions de nos pratiques et des lois en matière de confidentialité. Toutes les modifications seront clairement affichées sur notre site web afin que vous soyez toujours bien informé.</p>
        </div>

        <div>
            <strong>Contact</strong>
            <p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité, n'hésitez pas à nous contacter à l'adresse suivante : <a style="color: #87CEEB" href="mailto:Cosmechic@Cosmechic.ca" class="email-link">Cosmechic@Cosmechic.ca</a>. Nous sommes là pour répondre à toutes vos questions et préoccupations.</p>
        </div>
    </div>
</div>



