@{
    ViewData["Title"] = "Termes et Conditions";
}

<section class="py-5" style="margin-top: 100px;">
    <div class="text-center">
        <h1 class="fw-folder" style=" color:darkblue">
            @ViewData["Title"]
        </h1>
    </div>
</section>
<hr />

<div class="container mt-5 mb-5" style="margin-top: 100px;">
    <div class="row align-items-center">
        <div>
            <strong>Introduction</strong>
            <p>En utilisant le site web et les services de <strong>CosmeChic.</strong>, vous acceptez sans réserve les termes et conditions énoncés ci-dessous. Nous vous encourageons à les lire attentivement avant d'utiliser notre site ou nos services.</p>
        </div>

        <div>
            <strong>Utilisation du Site</strong>
            <p>Le contenu de notre site est destiné exclusivement à un usage personnel et non commercial. Toute utilisation abusive du site ou de son contenu est strictement interdite. Nous vous invitons à l'utiliser de manière responsable et éthique.</p>
        </div>

        <div>
            <strong>Propriété Intellectuelle</strong>
            <p>
                Tous les contenus présents sur notre site, y compris les textes, graphiques, logos et images, sont la propriété exclusive de <strong>CosmeChic</strong> ou de nos fournisseurs. Ils sont protégés par les lois sur la propriété intellectuelle en vigueur.
                Vous n'avez pas le droit de reproduire, distribuer, afficher publiquement, modifier ou utiliser ces contenus sans notre autorisation préalable écrite.
            </p>
        </div>

        <div>
            <strong>Responsabilité</strong>
            <p>
                Nous nous efforçons de fournir des informations précises et à jour sur notre site, cependant, nous ne pouvons garantir que toutes les informations sont exemptes d'erreurs ou toujours à jour.
                Nous déclinons toute responsabilité en cas d'inexactitude ou d'omission dans les informations fournies.
            </p>
        </div>

        <div>
            <strong>Commandes et Paiements</strong>
            <p>Lorsque vous passez une commande sur notre site, vous vous engagez à fournir des informations véridiques et précises. Vous acceptez également de payer tous les coûts associés à votre commande, y compris le prix des produits, les frais d'expédition et les taxes applicables.</p>
        </div>

        <div>
            <strong>Retours et Remboursements</strong>
            <p>Nous suivons une politique stricte en matière de retours et de remboursements. Pour obtenir des détails sur cette politique, veuillez consulter la section dédiée sur notre site. Nous nous efforçons de garantir votre satisfaction, et nous traitons chaque cas individuellement.</p>
        </div>

        <div>
            <strong>Modifications des Termes</strong>
            <p>Nous nous réservons le droit de modifier ces termes à tout moment, sans préavis. Votre utilisation continue du site après ces modifications constitue votre acceptation des nouveaux termes. Nous vous encourageons donc à vérifier régulièrement cette section pour rester informé des mises à jour.</p>
        </div>

        <div>
            <strong>Loi Applicable</strong>
            <p>Ces termes et conditions sont régis par la loi canadienne. Tout litige découlant de l'utilisation de notre site ou de nos services sera soumis à la juridiction compétente du Canada.</p>
        </div>

        <div>
            <strong>Contact</strong>
            <p>Pour toute question ou préoccupation concernant ces termes et conditions, n'hésitez pas à nous contacter à l'adresse suivante : <a style="color: #87CEEB" href="mailto:Cosmechic@Cosmechic.ca" class="email-link">Cosmechic@Cosmechic.ca</a>. Nous sommes là pour répondre à toutes vos questions et préoccupations.</p>
        </div>
    </div>
</div>
