@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmation de mot de passe oublié";
}

<section class="py-5" style="margin-top: 100px;">
    <div class="text-center">
        <h1 class="fw-folder" style=" color:darkblue">
            @ViewData["Title"]
        </h1>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p class="text-center">Veuillez vérifier votre courrier électronique pour réinitialiser votre mot de passe.</p>
                </div>
            </div>
        </div>
    </div>
</div>
